configuration {
    modi: "drun";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
}

@theme "/usr/share/rofi/themes/sidebar.rasi"

/* Minimal Overrides */
* {
    bg-col:  #1a1b26;
    border-col: #7aa2f7;
    selected-col: #24283b;
    fg-col: #c0caf5;
}

window {
    background-color: @bg-col;
    border: 1px;
    border-color: @border-col;
}

